p {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}

p:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  p {
    font-size: 1.25rem;
  }
}
