.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  background-color: #79c9fa;
  border-radius: 20px;
  margin: 0 5%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.workoutTitle {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.flexContainerTwo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.flexContainerTwo .workoutTitle {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
  .flexContainer,
  .gridContainer {
    margin: 0;
  }
  .workoutTitle {
    font-size: 1rem;
  }
}

.flexContainerTwo .workoutTitle:nth-child(2) {
  color: #f974a6;
}
