h1 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
